@charset "UTF-8";

body {
  background-color:#C6C6C6;
}

.body {
	font-size: 20px;
  color: blue;
}

.title {
  color: darkblue;
}

#container {
  color: blue;
}

.headers {
  color: darkblue;
  font-size: 25px;
}

li {
	padding-bottom: 20px;
}

a:Link {
  color: green;
}

a:visited {
  color: OliveDrab;
}
